.header {
  background: rgba(0, 0, 0, 0.25);
  padding: 14px 0 16px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.in-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-buttons {
  .btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $colorwhite;
    padding: 16px 15px 17px;
  }
  .btn-red {
    width: auto;
    padding: 16px 56px 17px;
    margin: 0 20px 0 0;
  }
  .btn-login {
    width: auto;
    border: 1px solid #FFFFFF;
    box-shadow: none;
    padding: 16px 23px 15px;
  }
}
.header-menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    padding: 0 26px;
  }
  a {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: $colorwhite;
    transition: all 0.2s ease;
    &:hover {
      color: $colorred;
      svg {
       path {
         fill: $colorred;
         stroke: $colorred;
       }
      }
    }
  }
  svg {
    vertical-align: middle;
    margin: 0 20px 0 0;
    transition: all 0.2s ease;
  }
}
.burger {
  display: none;
  cursor: pointer;
  svg {
    transition: all 0.2s ease;
  }
}
.burger.open {
  svg {
    path {
      fill: $colorred;
    }
  }
}

